---
layout: page
title : About
header : About Page
group: navigation
---
{% include JB/setup %}

This project is a project that is based on my research for my thesis in the field of Computer Engineering.  The project began as a way to repair and improve an existing radiometer that Iowa State University owned and is under the direction of Dr. Brian Hornbuckle.  The original radiometer was a 1.4 GHz direct sampled correlating radiometer.  It was based on the work of Dr. Mark Fischman and was built by the Space Physics Research Laboratory at the University of Michigan.  The radiometer was built and delivered to Iowa State University in 2005.  It was designed for remote sensing of soil moisture.<br \><br \>

However, later on the radiometer started exhibiting odd behaviour and results from the radiometer were unreliable.  Several attempts were made to repair the radiometer with the aid of the University of Michigan.  Unfortunately, many of the problems began cascading and the digital side of the radiometer was deemed unusable.  It was around this time that the author began work on his Masters in Computer Engineering.  An idea come up to replace the existing digital side of the radiometer with an off the shelf software defined radio and is the basis of this research and thesis. <br \><br \>

This research focuses on using a N200 Software Defined Radio made by Ettus Research along with GNURadio to produce a software defined radiometer.  The result is a radiometer that performs the same as a traditional radiometer but has increased flexibility and a lower cost of entry due to using off the shelf hardware and open source software.<br \><br \>

If you wish to know about the author of this website or some other information, the following pages will guide you.
<br \><br \>

<ul class="posts">
{% for post in site.posts %}
    {% if post.categories contains 'about' %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>